body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: scroll;
  user-select: none;
}
a.selected {
  color: #fff !important;
}
.ant-layout-content {
  width: 1200px;
  overflow: hidden;
}
/* first 3 rows */
.ant-table-row:nth-child(-n+3) {
  color: red;
  font-weight: bold;
}