body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: scroll;
}
a.selected {
  color: #fff !important;
}
.ant-layout-content {
  width: 1200px;
  overflow: hidden;
}
/* first 3 rows */
.ant-table-row:nth-child(-n+3) {
  font-weight: 600;
}
dl {
  margin-bottom:50px;
  border: 1px dashed #ccc;
}
dl dt {
  height: 34px;
  width:100px;
  line-height: 34px;
  box-sizing: border-box;
  float:left; 
  margin-right:10px;
  padding-left:5px;
  border-right: 1px dashed #ccc;
  border-left: 1px dashed #ccc;
  background: #eee;
}
 
dl dd {
  padding:5px 0;
  border-bottom: 1px dashed #ccc;
  min-height: 35px;
}

.error-detail .ant-row:last-child dd {
  /*border-bottom: 1px dashed #ccc;*/
}