body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: scroll;
}

a.selected {
  color: #fff !important;
}

.ant-layout-content {
  width: 1200px;
  overflow: hidden;
  /*margin: 0 auto;*/
}